body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 150px;
    background-color:  white;
}
.Resume_container{
    display: flex;
    background-color: #bed1d3;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0. 0. 0. 0.1);
}
.left_part{
    background-color: #5b9aa0;
    color: white;
    padding: 20px;
    width: 35%;
    text-align: center;
    border-right: 5px solid #e63946;
}
.Profile_picture{
    width: 150px;
    height: 150px;
    margin-top: 10%;
    border-radius: 50%;
    box-shadow: 0 0 15px #e63946;
    border: 5px solid e63946;
    margin-bottom: 20px;
}
h3{
    font-size: 18px;
    padding: 2%;
    margin: 20px 0 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px #5b9aa0;
    margin-top: 5%;
    color: black;
    margin-bottom: 5%;
}
ul{
    list-style-type: fill round;
    padding: 10;
    margin: 10px 0;
}
ul li{
    margin: 5px 0;
}

   /* right part */
.right_part{
    padding: 20px;
    width: 65%;
}
button{
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
}
button:hover{
    background-color: #e63946;
}
#objective{
    text-decoration: 2px lightskyblue underline;
    font-size: 18px;
}
#certification{
    text-decoration: 2px lightskyblue underline;
    font-size: 18px;
}
